*{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.headerpart{
    text-align: center;
}
#headerpara{
    font-size:x-large;
}
img{
    height: 300px;
    width: 300px;
    position: relative;
    left: 600px;
}
.imgcontent{
     padding-left: 540px;
     font-size: x-large;
     text-decoration: underline;
}
.unorderedlist{
    font-size: large;
}
.orderedlist{
    font-size: large;
}
.books{
    font-size: large;
}

